.App {
  text-align: center;
  background-color: yellow;
  vertical-align: center;
  height: 100vh;
  padding: 10%;
}

.Intro {
    padding: 5%;
    margin-top: 15vh;
    text-align: center;
}

.Searchbar {
    margin-left: 22vw;
    width: 70vw;
}
